<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBm-PzefHK3Wno-V4-w-pSsCZybwhvkLI</string>
	<key>GCM_SENDER_ID</key>
	<string>348688129087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocPractice</string>
	<key>PROJECT_ID</key>
	<string>bloc-photo-library-94713</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-photo-library-94713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348688129087:ios:afe7c48fd373ee8adeec8a</string>
</dict>
</plist>